<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='logo.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style3.css')}}">
    <link href="https: //fonts.googleapis.com/css2? familia= Roboto:peso@100;300;400;500;700;900 & display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='normalize.css')}}">
</head>
<body class="cuerpo">
    <header class="encabezado"> 
        
       
        
        <img src="{{url_for('static',filename='logo.png')}}" style="max-width:100%;height:auto" class="img1">
            <nav class="navegador">
                    <a href="#inico">Inicio</a> <!--referncias que se hacen trabajar con js-->
                    <a href="#nosotros">Nosotros</a>
                    <a href="#filmatografia">filmatografia</a>
                    <a href="#galeria">Galeria</a>
                    <a href="#contactenos">Contáctenos</a>
            </nav>
        
        
        
    </header>
    <aside class="barralateral">
    </aside>
    <main class="principal">
        <div class="fila">
            <div class="columna">
                <img src="{{url_for('static',filename='episodio4.jpg')}}" class="img2" style="max-width:100%;height:auto">
                    <h3>Una nueva esperanza, episodio IV</h3>
                    <p>Se estrena en el año 1977 causando un furor entre la audiencia
                        mas jóven dando asi un impacto cultural nunca antes visto
            </div>
            <div class="columna">
                <img src="{{url_for('static',filename='episodio5.jpg')}}" class="img2" style="max-width:100%;height:auto">
                    <h3>El imperio contrataca, episodio V</h3>
                    <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                        Luke, yo soy tu padre.                    
                    </p>
            </div>
            <div class="columna"><img src="{{url_for('static',filename='episodio6.jpg')}}" class="img2" style="max-width:100%;height:auto">
                <h3>El imperio contrataca, episodio V</h3>
                <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                    Luke, yo soy tu padre. </div>
        </div>
        <div class="fila">
            <div class="columna"><img src="{{url_for('static',filename='episodio1.jpg')}}" class="img2" style="max-width:100%;height:auto">
                <h3>La Amenaza Fantasma, episodio I</h3>
                <p>Se estrena en el año 1977 causando un furor entre la audiencia
                    mas jóven dando asi un impacto cultural nunca antes visto
                </p></div>
            <div class="columna" >
                <img src="{{url_for('static',filename='episodio2.jpg')}}" class="img2" style="max-width:100%;height:auto">
                        <h3>La Guerra de los Clones, episodio II</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.                    
                        </p>
            </div>
            <div class="columna">
                <img src="{{url_for('static',filename='episodio3.jpg')}}" class="img2" style="max-width:100%;height:auto">
                        <h3>La Venganza de los Sith, episodio III</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                <img src="{{url_for('static',filename='episodio7.jpg')}}" class="img2" style="max-width:100%;height:auto"> 
                        <h3>La Venganza de los Sith, episodio III</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.
            </div>
            <div class="columna">
                <img src="{{url_for('static',filename='episodio8.jpg')}}" class="img2" style="max-width:100%;height:auto"
                        <h3>La Venganza de los Sith, episodio III</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.
            </div>
            <div class="columna">
                <img src="{{url_for('static',filename='episodio9.jpg')}}" class="img2" style="max-width:100%;height:auto">
                        <h3>La Venganza de los Sith, episodio III</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.
            </div>
        </div>
        <div class="fila">
            <div class="columna2">
                <img src="{{url_for('static',filename='rogue one.jpg')}}" class="img2" style="max-width:100%;height:auto">
                        <h3>La Venganza de los Sith, episodio III</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.
            </div>
            <div class="columna2">
                <img src="{{url_for('static',filename='solo.jpg')}}" class="img4" style="max-width:100%;height:auto">
                        <h3>La Venganza de los Sith, episodio III</h3>
                        <p>se estrena en 1980 siendo considerada la mejor de toda la saga, inmortalizando la frase:
                            Luke, yo soy tu padre.
            </div>
                
            </div>
        </div>
    </main>
    <footer class="pie">
        <img src="{{url_for('static',filename='uchi.jpg')}}" class="img3" style="max-width:10%;height:auto">
        
    </footer> 
    
</body>
</html>